.input-container {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.label {
    font-weight: bold;
    margin-bottom: 8px;
    display: block;
}

.inputElement {
    width: 100%;
    box-sizing: border-box;
    outline: 0;
    border: 1px solid #ccc;
    display: block;
    padding: 6px 12px;
    background-color: white;
    font: inherit;
}

.invalid {
    border: 1px solid red;
    background-color: #ff9a8f;
}